# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.egg-info/
.Python
env/
venv/
.env

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Project specific
mlruns/
*.log
.ipynb_checkpoints/
